html {
	background-color: #E8FFF6;
	box-sizing: border-box;
}

*,*:before,*:after {
	box-sizing: inherit;
}

body {
	padding: 0;
	margin: 5px 15px 0px 15px;
	width: 100%;
	height: auto;
}

a {
    text-decoration:none;
    color: black;
}

#boxc a {
	text-decoration: none;
	color: white;
}

a:hover {
	color: blue;
	text-decoration: underline;
}

#boxc a:hover {
	color: white;
	text-decoration: underline;
}

.container {
	width: 1248px;
}

.mainarea {
	height: 915px;
}

.logoandheader {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	border: solid black 1px;
	height: 38px;
}

.logoarea {
	width: 62px;
	height: 46px;
}

#logo {
	width: 105%;
}

.header h2 {
	margin: 0;
}

.mainarea {
	background-color: #fff1cb;
	width: 1248px;
	border-top: 0;
	border-left: solid black 1px;
	border-right: solid black 1px;
	border-bottom: solid black 1px; 
}

#taiwan {
	padding-top: 70px;
	padding-bottom: 61px;
	padding-left: 154px;
}

#box0 {
	position: absolute;
    display: flex;
    flex-direction: column;
    top: 63px;
    left: 60px;
    font-size: 25px;
}

#boxa {
	background-color: #b5ffcc;
	box-shadow: 3px 3px 3px gray;
	padding: 16px;
	border: 0;
	position: relative;
	width: 224px;
	height: 53.33px;
    top: -869px;
    left: 414px;
}

#boxb {
	background-color: #ecccff;
	box-shadow: 3px 3px 3px gray;
	padding: 16px;
	border: 0;
	position: relative;
	width: 192px;
	height: 74.67px;
    top: -853px;
    left: 239px;
    text-align: center;
}

#boxc {
	background-color: #ff8cc7;
	box-shadow: 3px 3px 3px gray;
	color: white;
	padding: 16px;
	border: 0;
	position: relative;
	width: 192px;
	height: 74.67px;
    top: -952px;
    left: 851px;
    text-align: center;
}

#boxd {
	background-color: #ffd780;
	box-shadow: 3px 3px 3px gray;
	padding: 16px;
	border: 0;
	position: relative;
	width: 185.83px;
	height: 74.67px;
    top: -833px;
    left: 112px;
    text-align: center;
}

#boxe {
	background-color: #ffe3f9;
	box-shadow: 3px 3px 3px gray;
	padding: 16px;
	border: 0;
	position: relative;
	width: 192px;
	height: 74.67px;
    top: -733px;
    left: 74px;
    text-align: center;
}

#boxf {
	background-color: #ffffb0;
	box-shadow: 3px 3px 3px gray;
	padding: 16px;
	border: 0;
	position: relative;
	width: 208px;
	height: 74.67px;
    top: -630px;
    left: 104px;
    text-align: center;
}

#boxg {
	background-color: #E8FFF6;
	box-shadow: 3px 3px 3px gray;
	padding: 16px;
	border: solid black 1px;
	position: relative;
	width: 258px;
	height: 55.33px;
    top: -1068px;
    left: 916px;
    text-align: center;
}

#boxh {
	background-color: #E8FFF6;
	box-shadow: 3px 3px 3px gray;
	padding: 16px;
	border: solid black 1px;
	position: relative;
	width: 194px;
	height: 76.67px;
    top: -1045px;
    left: 949px;
    text-align: center;
}

#boxi {
	background-color: #6fefff;
	box-shadow: 3px 3px 3px gray;
	padding: 16px;
	border: 0;
	position: absolute;
    display: flex;
    flex-direction: column;
    top: 466px;
    left: 830px;
    display: flex;
    align-items: center;
    text-align: center;
    line-height: 2.1;
}

#boxi>a {
	margin-top: 13px;
}

.item-link9 {
	width: 176px;
	height: 17.33px;
}

.item-link10 {
	width: 128px;
	height: 17.33px;
}

.item-link11 {
	width: 96px;
	height: 17.33px;
}

.item-link12 {
	width: 176px;
	height: 17.33px;
}

.item-link13 {
	width: 144px;
	height: 17.33px;
}

.item-link14 {
	width: 112px;
	height: 17.33px;
}

.item-link15 {
	width: 160px;
	height: 17.33px;
}

.item-link16 {
	width: 224px;
	height: 17.33px;
}

.item-link17 {
	width: 160px;
	height: 17.33px;
}

.item-link18 {
	width: 96px;
	height: 17.33px;
}

.item-link19 {
	width: 160px;
	height: 17.33px;
}

.desc-box-1 {
	background-color: transparent;
	border: 2px solid black;
	border-left: none;
	border-bottom: none;
	position: absolute;
    width: 93px;
    height: 74px;
    top: 83px;
    left: 654px;
}

.desc-box-2 {
	background-color: transparent;
	border: 2px solid black;
	border-left: none;
	border-bottom: none;
	border-right: none;
	position: absolute;
    width: 269px;
    height: 73px;
    top: 163px;
    left: 447px;
}

.desc-box-3 {
	background-color: transparent;
	border: 2px solid black;
	border-left: none;
	border-top: none;
	position: absolute;
    width: 102px;
    height: 110px;
    top: 175px;
    left: 792px;
}


.desc-box-4 {
	background-color: transparent;
	border: 2px solid black;
	border-left: none;
	border-bottom: none;
	border-right: none;
	position: absolute;
    width: 246px;
    height: 73px;
    top: 333px;
    left: 314px;
}


.desc-box-5 {
	background-color: transparent;
	border: 2px solid black;
	border-left: none;
	border-bottom: none;
	position: absolute;
    width: 204px;
    height: 1px;
    top: 510px;
    left: 282px;
}

.desc-box-6 {
	background-color: transparent;
	border: 2px solid black;
	border-left: none;
	border-top: none;
	position: absolute;
    width: 176px;
    height: 36px;
    top: 654px;
    left: 328px;
}

#backto {
	background-color: white;
	padding: 5px;
	border: 1px solid gray;
	position: relative;
	width: 70px;
	height: 35px;
    top: -588px;
    left: 595px;
    text-align: center;
}

/*footer*/
.footer {
	position: relative;
	background-color: #E8FFF6;
	padding:5px 0; 
	text-align: center;
	font-family: Arial;
	font-size: 12px;
	color: #666666;
	width: 372px;
	height: 88px;
    top: 0px;
    left: 453px;
}

.footer p {
	line-height: 1.5;
	padding: 0;
}